@import 'settings';
@import 'foundation';


////////////////////
// Button border fix
////////////////////

.radius {
  td {
    border: none !important;
  }

  a {
    font-size: 16px !important;
    letter-spacing: 1px;
  }
}

///////////////////////////////
// padding fix for left padding
///////////////////////////////


.pd-left {
  padding-left: $global-padding !important;
}

.tbl-cell {
 display: table-cell !important;
}



/////////
// Colors
/////////

.content {
  border: 1px solid $medium-gray;
  background: $white !important;
}

.white {
  color: $white !important;
}

.black {
  color: $black !important;
}

.light-gray {
  color: $light-gray !important;
}

.gray {
  color: $gray !important;
}

.dark-gray {
  color: $dark-gray !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-white {
  background: $white !important;
}

.bg-light-gray {
  background: $light-gray !important;
}

.bg-medium-gray {
  background: $medium-gray !important;
}

.bg-gray {
  background: $gray !important;
}

.bg-dark-gray {
  background: $dark-gray !important;
}



//////////
// Receipt
//////////

  .receipt-header {
    color: white;
    background: $primary-color;
    padding: 15px 0;
    margin: 0;
  }

  .table-header {
    background: #cfe9f9;
  }

  .table-header th {
    padding: 8px 0;
  }

  .table-header h4 {
    color: black;
    margin: 0;
  }

  .table-prices th {
    padding: 0;
  }

  .table-support {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: 1px solid $medium-gray;
  }

  .table-prices, .table-total {
    padding: 0;

    .table-prices table th {
      border: 1px solid $medium-gray;
      height: 60px;
      vertical-align: middle;
    }
  }


  .table-prices table th th {
    border: 1px solid $medium-gray;
    height: 60px;
    vertical-align: middle;
  }


  .no-fl {
    padding: 0 !important;
  }

  .table-address, .table-summary {
    th {
      border: 1px solid $medium-gray;
      vertical-align: middle;
      margin: 0;
      padding: 0 5px;
      padding: 7px 0;


      th {
        border: none;
      }
    }

    center {
      min-width: auto;
      width: auto;
    }



  .table-address {
    th {
      vertical-align: top;
    }
  }

  p {
    margin: 0;
  }

  .address {
    font-size:12px;
  }

}





//////////
// Circles
//////////
.introduction {
  .button table td {
    padding: 20px;
    font-size: 30px;
    color: $primary-color;
    background: white;
    box-shadow: 0px 0px 0px 3px inset;
  }
}




/////////
// Footer
/////////

.footer th {
  padding: 0;
  vertical-align: middle;

  padding-bottom: 7px;
  padding-top: 7px;

  p {
    margin: 0;
    color: $dark-gray;
    font-size: 12px;
  }
}
