<row class='footer'>
  <columns large='9' small="12">
    <p class="text-left">BITSPACE, PDCP Bank Center, Makati City, Philippines</p>
  </columns>
  <columns large='3' small="12">

    <center>
    <menu class='simple'>
      <item class='simple' href="http://zurb.com"><img class='facebook' src="https://cdn0.iconfinder.com/data/icons/flat-social-media-icons-set-round-style-1/550/facebook-32.png"></item>
      <item class='simple' href="http://zurb.com"><img class='twitter' src="https://cdn0.iconfinder.com/data/icons/flat-social-media-icons-set-round-style-1/550/twitter_2-32.png"></item>
      <item class='simple' href="http://zurb.com"><img class='pinterest' src="https://cdn0.iconfinder.com/data/icons/flat-social-media-icons-set-round-style-1/550/pinterest-32.png"></item>
    </menu>
    </center>

  </columns>
</row>
